@model ToDo_List_with_additions.Models.ToDosAdminModel
@{
    ViewData["Title"] = "Todos";
}

<h1>Todos</h1>
@section Buttons {

    <li>
        <a asp-controller="Admin" asp-action="Create" asp-route-id="@Model.userId">Create Todo</a>
    </li>
    <li>
        <a asp-controller="Admin" asp-action="EditUser">Edit User</a>
    </li>
    <li>
        <a asp-controller="Admin" asp-action="DeleteUser">Delete User</a>
    </li>
}
<table>
    <thead>
        <tr>
            <th>Done</th>
            <th>Date</th>
            <th>Content</th>
            <th>Importance</th>
            <td>Actions</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Todos)
        {
            <tr>
                <td>
                    @if (item.Done)
                    {
                        <i class="ti ti-square-check"></i>
                    }
                    else
                    {
                        <i class='ti ti-square'></i>
                    }
                </td>
                <td>
                    @item.Date
                </td>
                <td>
                    @item.Content
                </td>
                <td>
                    @item.Importance
                </td>
                <td>
                    <a asp-controller="Admin" asp-action="EditToDo" asp-route-id="@item.Id" >Edit</a> |
                    <a asp-controller="Admin" asp-action="DeleteToDo" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

