<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ToDo List with additions</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap">
    <!--<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />-->
    <link rel="stylesheet" href="~/css/reset.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ToDo_List_with_additions.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="wrapper">
            <div class="app-name">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">ToDo List with additions</a>
            </div>
            <nav class="links">
                <ul>
                    @RenderSection("Links", false)
                </ul>
            </nav>
            <nav class="buttons">
                <ul>
                    @RenderSection("Buttons", false)
                </ul>
            </nav>
        </div>
    </header>
    
    <main>
        @RenderBody()
    </main>

    <footer>
        <div class="footer">ToDo List with additions 2022 &copy; <a href="https://github.com/Xapixowy">Jakub Chodziński</a> & <a href="https://github.com/Minio931">Dominik Chmielowski</a></div>
        @RenderSection("Attribution", false)
    </footer>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
