@model ToDo_List_with_additions.Models.ToDoModel

@{
    ViewData["Title"] = "ToDo Create";
}

@section Buttons {
    <li>
        <a asp-controller="User" asp-action="Edit">Edit profile</a>
    </li>
    <li>
        <a asp-controller="User" asp-action="Logout">Logout</a>
    </li>
}

@section Links {
    <li>
        <a asp-controller="ToDo" asp-action="Index">ToDo List</a>
    </li>
    <li>
        <a asp-controller="Statistics" asp-action="Index">Statistics</a>
    </li>
}

<div class="toDos-create">
    <div class="wrapper">
        <h1>ToDo Create</h1>
        <form method="post" asp-action="Create">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <div class="form-group">
                <label for="date">Date</label>
                @Html.EditorFor(Model => Model.Date, new { htmlAttributes = new { @id="date", @name="date", @required="required" } })
                @Html.ValidationMessageFor(Model => Model.Date)
            </div>
            
            <div class="form-group">
                <label for="content">Content</label>
                @Html.EditorFor(Model => Model.Content, new { htmlAttributes = new { @id="content", @name="content", @required="required" } })
                @Html.ValidationMessageFor(Model => Model.Content)
            </div>
            
            <div class="form-group">
                <label for="importance">Importance</label>
                <select class="form-select" id="importance" name="importance">
                    <option value="0">Low</option>
                    <option value="1">Medium</option>
                    <option value="2">High</option>
                    <option value="3">Critical</option>
                </select>
            </div>
            
            <div class="form-group buttons">
                <button>Create</button>
            </div>            
        </form>
    </div>
</div>

<script>
	const dateTimeInputs = document.querySelectorAll('input[type="datetime-local"]');
    const today = new Date().toISOString().split('T')[0];
	dateTimeInputs.forEach(input => {
        input.setAttribute('min', today);
	});
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
