@model ToDo_List_with_additions.Models.ToDoModel

@{
    ViewData["Title"] = "ToDo Edit";
}

@section Buttons {
    <li>
        <a asp-controller="User" asp-action="Edit">Edit profile</a>
    </li>
    <li>
        <a asp-controller="User" asp-action="Logout">Logout</a>
    </li>
}

@section Links {
    <li>
        <a asp-controller="ToDo" asp-action="Index">ToDo List</a>
    </li>
    <li>
        <a asp-controller="Statistics" asp-action="Index">Statistics</a>
    </li>
}

<div class="toDos-edit">
    <div class="wrapper">
        <h1>ToDo Edit</h1>
        <form method="post" asp-action="Edit">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <div class="form-group">
                <label for="date">Date</label>
                @Html.EditorFor(Model => Model.Date, new { htmlAttributes = new { @id="date", @name="date", @required="required" } })
                @Html.ValidationMessageFor(Model => Model.Date)               
            </div>
            
            <div class="form-group">
                <label for="content">Content</label>
                @Html.EditorFor(Model => Model.Content, new { htmlAttributes = new { @id="content", @name="content", @required="required" } })
                @Html.ValidationMessageFor(Model => Model.Content)
            </div>
            
            <div class="form-group">
                <label for="importance">Importance</label>
                <select class="form-select" id="importance" name="importance">
                    <option value="0">Low</option>
                    <option value="1">Medium</option>
                    <option value="2">High</option>
                    <option value="3">Critical</option>
                </select>
            </div>
            
            <div class="form-group buttons">
                <button>Edit</button>
            </div>
        </form>
    </div>
</div>

<script>
	const select = document.getElementById("importance");
	select.value = "@Model.Importance";
</script>

<script src="/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="/Scripts/jquery.validate.js"></script>
<script src="/Scripts/jquery.validate.unobtrusive.js"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
